@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Sorts+Mill+Goudy:ital@0;1&display=swap');

:root {
    --primeira-cor: #C6AE32;
    --segunda-cor: #151515;
    --terceira-cor: #D9D9D9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}




.background{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(IMG/JPG/pexels-pavel-danilyuk-8112201.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
   
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    max-width: 100%;
    max-height: 500px;
   
    
}

.logo img{
    width: 120px;
    height: auto;
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;  
}

.cabeçalho-link a{
    color: #fff;
    font-size: 25px;
}

.cabeçalho-link a:hover{
    color:  var(--primeira-cor);
    transition: 0.3s all;
}





button{
    color: var(--primeira-cor);
    background: transparent;
    border:solid 1px #C6AE32;
    padding: 2px;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
    width: 150px;
}

button:hover{
    background-color: var(--primeira-cor);
    color: var(--terceira-cor);
    transition: 0.8s;
}

.container-text{
    padding: 175px 0 0 130px;
}

.text h3{
    color: var(--terceira-cor);
    font-size: 25px;
}

.text h1{
    color: var(--terceira-cor);
    margin-top: 5px;
    font-size: 50px;
}

.text span{
    color: var(--primeira-cor); 
}

.text p{
    color: var(--terceira-cor);
    font-weight: 500;
    margin-top: 10px;
    font-size: 25px;
    max-width: 700px;
}

.redes-social{
    margin-top: 10px;
}

.redes-social a{
    color: var(--primeira-cor);
    padding: 10px;
    margin-top: 5px;
}

.btn{
    margin-top: 15px;
}

/* SERVIÇOS*/

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:25px;
    padding: 120px ;
}

.box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 30px;
    border: 1px solid #C6AE32;
    background: transparent;
    backdrop-filter: blur(0.5rem);
    text-align: center;
    padding:50px 20px;
}


.box-container .box h3{
    color:var(--primeira-cor);
    font-size: 25px;
    padding:px ;
}

.box-container .box p{
    color:var(--terceira-cor);
    font-size: 18px;
    line-height: 1.5;
    padding-top: 18px;
}


.box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.05);
    transition: 0.8s;
    backdrop-filter: blur(2rem);

}

/* SOBRE*/

.box-sobre{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:25px;
    padding: 120px ;
}

.box-sobre .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 30px;
    border: 1px solid #C6AE32;
    background: transparent;
    backdrop-filter: blur(0.5rem);
    text-align: center;
    padding:50px 20px;
}



.box-sobre .box h3{
    color:var(--primeira-cor);
    font-size: 50px;
    padding:20px ;
}

.box-sobre .box p{
    color:var(--terceira-cor);
    font-size: 20px;
    line-height: 1.5;
    padding-top: 25px;
}


.box-sobre .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transition: 2s;
    backdrop-filter: blur(2rem);

}

@media screen and (max-width:600px){
    .cabeçalho-link {
        display: none;
    }
    
}
